body {
  font-family: 'Montserrat', sans-serif;
  }

  h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 60px;
  }

  .container {
    bakcground-color: #0cb3f8;
    max-width: 100%;
  }

  .col-6 {
    padding-left: 10%;
    padding-top: 5%;
    color: #ffffff;
  }

  .col-32 {
    padding-left: 25%;
    padding-top: 5%;
    color: #ffffff;
  }

  .btn {
    border-radius: 20px;
    font-weight: bold;
    font-size: 10px;
    margin-top: 15%;
  }

  .btn-outline-none {
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    margin-top: 15%;
  }

  .row {
    background: yellow;


  .price {
    background: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;

  &.alt {
    background: blue;
  }

  }
  }
}
